<br>
<h4>Lista de Videos</h4>
<label><%= mensaje %></label>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Duration</th>
            <th>Views</th>
            <th>Imagen</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        <% for v in videos %>
        <tr>
            <td><%= v.name %></td>
            <td><%= v.author %></td>
            <td><%= v.duration %></td>
            <td><%= v.views %></td>
            <td><img src="<%= v.image %>" alt=""></td>
            <td>
                <a href="<%= v.link %>" class="btn btn-info" target="_blank">Ver</a>
                <a href="editar/<%= v.id %>" class="btn btn-dark">Editar</a>
                <a href="eliminar/<%= v.id %>" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
        <% end %>
    </tbody>
    <tfoot>
        <tr>
            <a href="agregar" class="btn btn-primary">Agregar</a>
        </tr>
    </tfoot>
</table>